/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@font-face{
  font-family: "yekan";
  src: url("../Fonts/yekan bakh en 04 regular.ttf");
}
body{
  font-family:"yekan" ;
  font-size: 18px;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
  cursor: pointer;
}

.btn14 a{
  display: block;
  margin: 50px;
}

.container h2{
  margin-top: 50px;
}

.column{
  padding: 5px;
  float: right;
}

.column table{
  border-collapse: collapse;
  border-spacing: 0;
  margin: 20px;
  border: 1px solid #ddd;
}

.column table th,td{

  padding: 16px;
}


td {
  text-align: right;
   direction: rtl;
   
}


div.form-container{
  margin: 20px 40px;
  margin-bottom: 30px;
}


.btn-submit-form-12{
  text-align: center;
}
.btn-submit-form-12 a{
  display: block;
}
.name{
  display: inline;
  margin-left: 10px;
  margin-bottom: 15px;
}

.form-group >*{
  margin-left: 10px;
}

.btn21{
  display: flex;
}

.image{
  display: flex;
  align-items: center;
  width: 70%;
  align-content: space-between;
  
}

.video{
  display: flex;
}

.video2{
  display: flex;
  flex-wrap: wrap;
}

.cnt{
  display: flex;
  flex-direction: column;
  align-items: start;
}


.image img{
  width: 250px;
  height: 250px;
}

.info_table{
    text-align: start;
    margin: 60px 0; 
  }


.info_table span{
    margin: 0 15px;
  }


.btn15{
  padding: 10px 40px;
}  

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {

  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.hidden{
  display:none ;
}